 <% if book.favorited_by?(current_user) %>
  <td>
    <p>
     <%= link_to book_favorites_path(book.id), method: :delete do %>
     ♥<%= book.favorites.count %> いいね
     <% end %>
    </p>
  </td>
<%end%>